name: Build LaTeX PDF

on:
  workflow_dispatch:
  push:
    paths:
      - 'report/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: report/main.tex   # مسیر جدید

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: aeroradomesim-report
          path: report/main.pdf       # خروجی در همان پوشه
